<h1>This is the Jobs Page</h1>

<%= form_for [@boat, @job] do |f| %>

	<%= f.text_field :boat_id, :hidden => true %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<%= f.label :origin %>
	<%= f.text_field :origin %>
	<%= f.label :destination %>
	<%= f.text_field :destination %>
	<%= f.label :cargo %>
	<%= f.text_field :cargo %>
	<%= f.label :containers %>
	<%= f.text_field :containers %>
	<%= f.label :price %>
	<%= f.number_field :price %>  
	<%= f.submit %>

<% end %> 