<h1>Welcome Captain <%= @user.username%></h1>

	<% @boats.each do |boat| %>
		<p><div class="wrappera1"><h1>Name:</h1><h2><%= boat.name %></h2></div></p>
		<p><div class="wrappera1"><h1>Containers:</h1><h2><%= boat.containers%></h2></div></p>
		<p><div class="wrappera1"><h1>Location:</h1> <h2><%= boat.location %></h2></div></p><br>
		<%= boat.job_id %>


		<%= link_to "Job Page", boat_jobs_path(:boat_id) %>
		<%= link_to "Edit Boat", edit_boat_path%>
		<%= link_to "Add Job", new_boat_job_path(boat.id) %>
		<%= link_to "Sink Boat", boat_path(boat.id), method: :delete, data: { confirm: 
			'Are you sure dumbass?  You can not undo this'} %>
		
	<% end %>

<%= link_to "Add Boat", new_boat_path%>

<h1>Boat/Jobs</h1>
<% @boats.each do |boat| %>
	<!-- if boat in @boats has a job -->
	<!-- show that job -->
	
	<% if boat.job %>
		<p>
			Name of boat: <%= boat.name %>
		</p>

		<p>
			Name of job: <%= boat.job.name %>
		</p>

		<p>
			Cargo of job: <%= boat.job.cargo %>
		</p>
		<%= link_to 'Delete', boat_job_path(boat.id, boat.job.id), method: :delete, data: { confirm: "Do You Want To Delete This Job?"} %>

	<% else %>
		<p>
			No boats have jobs yet!
		</p>
	<% end %>
<% end %>




<%= link_to 'Log Out', logout_path, method: :delete, data: { confirm: "Are You Sure"} %>
 